<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horizon Travels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>

    <script>
      function getarrivalcity(deptcity) {
            var req = new XMLHttpRequest();        
            arrivalslist = document.getElementById('arrivalslist');        
            
            req.onreadystatechange = function() {
                if (req.readyState == 4) {
                    if (req.status != 200) {
                        //error handling code here
                    }
                    else{
                        var response = JSON.parse(req.responseText);                   
                        //document.getElementById('myDiv').innerHTML = response.username
                        var size = response.size;                   
                        //alert(response.returncities[0]);
                        for (var x=0; x < arrivalslist.length; x++){
                            arrivalslist.remove(x);                        
                        }
                        
                        for (var i=0; i < size; i++) {
                          arrivalslist.add(new Option(response.returncities[i], response.returncities[i]));    
                        }
                           // var option = document.createElement("Option");
                            //option.text = response.returncities;
                            //arrivalslist.add(option);
                    }
                }
            }
            req.open('GET', '/returncity/?q='+deptcity);
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");   
            req.send(); 
            return false;
        }
    
    </script>
  </head>
  <body>
      <!-- This is the header and navigation section of the page -->
    <header class="p-4 text-bg-dark">
        <!-- <div class="container"> -->
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <strong>Horizon Travels</strong>
            </a>
    
            <!-- Navigation / Menu Section -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center justify-content-md-between mb-md-0">
              <!-- <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Services</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Bookings</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Contact</a></li> -->
            </ul>
            <!-- End of Menu Section -->
    
            <!-- Login and Sign up section-->
            <div class="text-end">
              {% if usertype == 'admin' %}
                <a href='/' class="btn btn-outline-light me-2"> Home </a>
                <a href="/adminfeatures/"  class="btn btn-outline-light me-2">Admin</a> 
                <a href='/logout/'  class="btn btn-warning"> Logout </a> 
              {% elif usertype == 'standard' %}
                Hi,  {{username}} &nbsp;
                <a href='/' class="btn btn-outline-light me-2"> Home </a>
                <a href="/userfeatures/"  class="btn btn-outline-light me-2">Bookings</a> 
                <a href='/logout/'  class="btn btn-warning"> Logout </a> 
              {% else %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center justify-content-md-between mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Services</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
                    <li><a href="/login/" class="nav-link px-2 text-white btn btn-primary">Login</a></li>
                </ul>
              {% endif %}

                  
              <!-- <a href="/login/" type="button" class="btn btn-outline-light me-2">Login</a>
              <a href="/register/" type="button" class="btn btn-warning">Sign up</a> -->

            </div>
            <!-- End of Login/Sign up-->
          </div>
        <!-- </div> -->
    </header>
      <!-- End of header section-->

      <!-- Jumbotron -->
      <!-- <div> -->
          {% block container %}{% endblock %}
      <!-- </div> -->
      <!-- End of Travel booking entry-->

      <!-- Footer Section-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">Horizon Travels © 2023 Sixtus Tech Inc</span>
          </div>
      
          <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="/">Home</a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">About Us</a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">Services</a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">Contact Us</a></li>
          </ul>
        </footer>
    </div>
      <!--End of Footer Section-->
  </body>
</html>